@model ResumeViewModel
@{
    ViewData["Title"] = "Denis Palnitsky - Senior Software Developer";
}

<main role="main" class="container">

    <div class="btn-group bg-dark">

        <a class="btn btn-default" href="@Model.PdfDownloadLink">PDF Version</a>
        <a class="btn btn-default" href="@Model.WordDownloadLink">MS Word Version </a>
    </div>

    <div id="cv_content">
        @Html.Raw(@Model.ResumeHtml)
    </div>

</main>